.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  justify-self: flex-start;
}
.img__hEdPj {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
  display: none !important;
}
.img__hEdPj > picture > img {
  object-fit: contain;
}
.img__ihM7Q {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__ihM7Q > picture > img {
  object-fit: cover;
}
