.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-end;
  background: none;
  justify-self: flex-start;
  transition-property: all;
  transition-duration: 1s;
  cursor: default;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__eyH4Q {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  z-index: 2;
  left: 1px;
  top: 2px;
}
.img__eyH4Q > picture > img {
  object-fit: cover;
}
.img__hzyKd {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__hzyKd > picture > img {
  object-fit: cover;
}
.freeBox__dnGhi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___6Dsv9 {
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  object-fit: contain;
  width: 30px;
}
.img___6Dsv9 > picture > img {
  object-fit: contain;
}
.img__rdiOd {
  max-width: 100%;
  object-fit: contain;
  width: 30px;
  flex-shrink: 0;
}
.img__rdiOd > picture > img {
  object-fit: contain;
}
.freeBox___0Xc1D {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___0Xc1D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___0Xc1D > :global(.__wab_flex-container) > *,
.freeBox___0Xc1D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Xc1D > :global(.__wab_flex-container) > picture > img,
.freeBox___0Xc1D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
