.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 16px;
  row-gap: 16px;
  min-width: 0;
}
