.playersTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("https://www.serieafantasy.com/static/media/pitch-small.e4e4ad56.svg")
    top 50% left 50% / cover repeat;
  position: relative;
  row-gap: 120px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.goa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.avatarPlayer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.def {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 32px;
  min-width: 0;
  padding: 8px;
}
.avatarPlayer2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.mid {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 32px;
  min-width: 0;
  padding: 8px;
}
.avatarPlayer6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.str {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 32px;
  min-width: 0;
  padding: 8px;
}
.avatarPlayer10:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer11:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.avatarPlayer12:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
