.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background:
    url("https://www.premierleague.com/resources/rebrand/v7.146.7/i/elements/backgrounds/primary-graphic.svg")
      top 50% left 50% / cover repeat,
    var(--token-NTRsRiWyA41Y);
  position: relative;
  justify-self: flex-start;
  row-gap: 20px;
  padding: 8px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fMz0M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 20px;
  font-weight: 700;
  font-family: "ABeeZee", sans-serif;
  min-width: 0;
}
.text__uMZrN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__jAwBm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 900;
  font-family: "ABeeZee", sans-serif;
  align-self: center;
  padding: 10px;
}
.img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 33px;
  top: 75px;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
