.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  backface-visibility: visible;
  transform-origin: 0% -4%;
  transform: perspective(0px);
  perspective: 210px;
  perspective-origin: 52% 76%;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  background: #222222;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1s;
  padding: 0%;
}
.root > * {
  grid-column: 4;
}
.root * {
  transform-style: preserve-3d;
}
@media (max-width: 1800px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 1800px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1800px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 768px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 768px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root {
    justify-items: center;
    align-content: center;
    grid-row-gap: 12px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.navbar2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  display: none;
}
.text {
  position: relative;
  width: 100%;
  height: 456px;
  max-width: 100%;
  padding-right: 276px;
  padding-top: 126px;
  min-width: 0;
}
