.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  justify-self: flex-start;
}
.img {
  position: relative;
  object-fit: contain;
  width: 400px;
}
.img > picture > img {
  object-fit: contain;
}
