.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 376px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-y39y01I5X1ZW);
}
.text___0MIdR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 18px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8Vm62 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vCdDv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #7b7b8c;
  text-align: center;
  min-width: 0;
}
.column__nOTgV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 16px;
}
.text__rZH8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #7b7b8c;
  text-align: center;
  min-width: 0;
}
.column__i2QH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__sCetl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #7b7b8c;
  text-align: center;
  min-width: 0;
}
