.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-end;
  background: none;
  justify-self: flex-start;
  transition-property: all;
  transition-duration: 1s;
  cursor: default;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img___5P5Mj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  z-index: 2;
  left: 1px;
  top: 20px;
}
.img___5P5Mj > picture > img {
  object-fit: cover;
}
.freeBox__ynDch {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__m1U0D {
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  object-fit: contain;
  width: 47px;
}
.img__m1U0D > picture > img {
  object-fit: contain;
}
.freeBox__ivxIi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__qy3Ru {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qy3Ru > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__qy3Ru > :global(.__wab_flex-container) > *,
.freeBox__qy3Ru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qy3Ru > :global(.__wab_flex-container) > picture > img,
.freeBox__qy3Ru
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__uzDle {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__p9Be {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 15px;
  max-width: 100%;
  background: var(--token-84dlJPL1HKUp);
  flex-shrink: 0;
  border-radius: 30px;
  padding: 0px;
}
.pointInfo:global(.__wab_instance) {
  position: relative;
  display: none;
}
.text__r50Jn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-41VRhDKfihhY);
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.freeBox__jpQPh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__vtlKh {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-41VRhDKfihhY);
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.text__gOu0O {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-41VRhDKfihhY);
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
