.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
}
.freeBox__ka1Lu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  column-gap: 64px;
  min-width: 0;
  padding: 8px;
}
.img__h0Brw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  flex-shrink: 0;
}
.img__h0Brw > picture > img {
  object-fit: cover;
}
.text__a4Mad {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-y39y01I5X1ZW);
  text-align: center;
}
.freeBox__sd7Mz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.login {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.text__gsKgh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: var(--token-y39y01I5X1ZW);
  font-weight: 600;
  min-width: 0;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 32px;
}
.svg__n51H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vfEwJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jTp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: var(--token-y39y01I5X1ZW);
  font-weight: 600;
  min-width: 0;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
}
.svg__tsOp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__y6VrX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__bOhfp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 8px;
}
.text__ysXcN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.text__bv6Vw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 16px;
  cursor: pointer;
}
.nadpis {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__sLhDx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-y39y01I5X1ZW);
  font-weight: 500;
  min-width: 0;
}
.freeBox__br6G2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 64px;
  min-width: 0;
  padding: 8px;
}
.img__ryKGi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ryKGi > picture > img {
  object-fit: cover;
}
.img__pLeGx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pLeGx > picture > img {
  object-fit: cover;
}
.img__oqru9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__oqru9 > picture > img {
  object-fit: cover;
}
