.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lFaIZ6gfx3JL);
  column-gap: 32px;
  min-width: 0;
  padding: 8px;
}
.logo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  flex-shrink: 0;
}
.logo > picture > img {
  object-fit: cover;
}
.championat {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 600;
}
.priz {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 600;
}
.rules {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-weight: 600;
  font-size: 18px;
}
.clubs {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 600;
}
.empty {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 960px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
