.orderBy {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-HhZRLgn0_B2Q);
  position: relative;
  justify-self: flex-start;
  min-width: 0;
  display: none;
  padding: 8px;
}
.name {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 0;
}
.text__dhafo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  font-family: "Times New Roman";
}
.link {
  position: relative;
  display: flex;
}
.upDownOrder:global(.__wab_instance) {
  width: auto;
}
.позиция {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__rwTcp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  font-family: "Times New Roman";
  padding-right: 8px;
  min-width: 0;
}
.клуб {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__zSh9V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  font-family: "Times New Roman";
  min-width: 0;
}
.очко {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lyBe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  font-family: "Times New Roman";
}
.upDownOrder2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.цена {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___3Dp9O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  font-family: "Times New Roman";
}
.upDownOrder3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
