.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  background: var(--token-Le07ngBUPl2h);
  min-width: 0;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.text__tqhNl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 10px;
  min-width: 0;
}
.text__ezdzq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
}
.text__jGIcj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  text-align: center;
  min-width: 0;
}
.text__jbWho {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  text-align: center;
  min-width: 0;
}
.text__petkw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  text-align: center;
  min-width: 0;
}
.checkBuy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.minusBalance {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__bsdu4 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img__bsdu4 > picture > img {
  object-fit: contain;
}
.buy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.buyPlus {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__uuzO {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img__uuzO > picture > img {
  object-fit: cover;
}
.img__micN {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  position: relative;
  flex-shrink: 0;
}
.img__micN > picture > img {
  object-fit: contain;
}
.text__rbPnN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
  display: none;
}
.buySell {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__cq9AJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img__cq9AJ > picture > img {
  object-fit: cover;
}
