.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
}
.freeBox__ajhj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 8px;
}
.freeBox__ajhj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__ajhj > :global(.__wab_flex-container) > *,
.freeBox__ajhj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ajhj > :global(.__wab_flex-container) > picture > img,
.freeBox__ajhj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.img__eywfF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  flex-shrink: 0;
}
.img__eywfF > picture > img {
  object-fit: cover;
}
.text__dWnOm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-y39y01I5X1ZW);
  text-align: center;
}
.freeBox___4UOhR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.login {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.login > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.login > :global(.__wab_flex-container) > *,
.login > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.login > :global(.__wab_flex-container) > picture > img,
.login > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.text__dLz6J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: var(--token-y39y01I5X1ZW);
  font-weight: 600;
  min-width: 0;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 32px;
}
.svg__fAEtC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___6Tnmv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jI7Ds {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: var(--token-y39y01I5X1ZW);
  font-weight: 600;
  min-width: 0;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 32px;
}
.svg__tGBxv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bEdOn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oixlg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qokl2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__eTw3T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(30px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.text__rYqBo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.text___5JQ9P {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 16px;
  cursor: pointer;
}
.nadpis {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__bPj3J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-y39y01I5X1ZW);
  font-weight: 500;
  min-width: 0;
}
.freeBox__e0Ig {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__e0Ig > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__e0Ig > :global(.__wab_flex-container) > *,
.freeBox__e0Ig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e0Ig > :global(.__wab_flex-container) > picture > img,
.freeBox__e0Ig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.img__xvGRu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xvGRu > picture > img {
  object-fit: cover;
}
.img__kno9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kno9 > picture > img {
  object-fit: cover;
}
.img__obOD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__obOD > picture > img {
  object-fit: cover;
}
